#bod {
    background-color: black !important;
}
#formu{
    position: absolute;
    padding-left: 37%;
    display: inline-block;
    font-size: 20px;
}
h1{
    text-align: center;
    color: white;
}

.dropdown{
    
    justify-content: center;
    right: 25%;

    
}

h4 {

    color: black;
    width: 800px;


}

