table,
th,
td {
  text-align: center;
  position: relative;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

#bod {
  background-color: black !important;
}

.dropdown {

  justify-content: center;
  right: 25%; 


}

h4 {

  justify-content: center;
  width: 800px;
  color: white;


}

