h1{
    text-align: center;
    font-size: 100px;
    color: #00c317;
}
h3{
    font-size: 80px;
    text-align: center;
    color:#ececec;
   
}

#bod {
    background-color: black !important;
}

.dropdown{
    
    justify-content: center;
    right: 25%;

    
}

h4 {
    
    
    color: white;
  
  }
